.wrapper{
    background-color: #189ed8;
    font-size: 24px;
    display: flex;
    padding: 10px;
}
.titleName{
    margin-left: 10px;
    color:white
}

.inputStyle{
    width: 400px!important;
    margin-bottom: 20px;
}
.inputStyleWidth{
    width: 620px!important;
    margin-bottom: 20px;
}
.container_form{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
}

.switch_position_relative{
    position: relative;
}
.switch_position_absolute{
    position: absolute;
    left: 350px;
    bottom: 22px;
}


.inputStyleWidth label {
    font-size: 14px;
    left: -10px;
}
.titleForm{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
.wrapperForm{
    margin-top: 20px;
    padding: 10px;
}
.position_warning{
    display: flex;
    bottom: 1px;
    justify-content: right;
   
    /* width: 350px; */
    width: 100%;
    position: absolute;
    /* bottom:0px */
}
